<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Home</h1>
<a href="/createBook">Aggiungi un libro</a>
<a href="/logout">Logout </a>
<h2>Libri</h2>
<table th:if="${not #lists.isEmpty(libri)}">
    <thead>
    <tr>
        <th>Title</th>
        <th>Dettaglio</th>
        <th>Modifica</th>
        <th>Cancella</th>

    </tr>
    </thead>
    <tbody>
    <th:block th:each="book : ${libri}">
        <tr >
            <td th:text="${book.title}"></td>
            <td> <a th:href="@{/detailBook(bookId=${book.getId()})}"> Dettaglio libro </a></td>
            <td> <a th:href="@{/editBook(bookId=${book.getId()})}"> Modifica libro </a></td>
            <td> <a th:href="@{/remove(bookId=${book.getId()})}"> Rimuovi libro </a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>