<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<form action="#" th:action="@{/postStoreBook}" th:object="${book}" method="post">
    <table>
        <tr>
            <td>Title:</td>

            <td><input type="text" th:field="*{title}" /></td>

            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
        </tr>
        <tr>
            <td>Author:</td>

            <td><input type="text" th:field="*{author}" /></td>

            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</td>
        </tr>
        <tr>
            <td>Descriptiom:</td>

            <td><input type="text" th:field="*{description}" /></td>

            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
        </tr>
        <tr>
            <td>Publication Date:</td>

            <td><input type="date" th:field="*{publicationDate}" /></td>

            <td th:if="${#fields.hasErrors('publicationDate')}" th:errors="*{publicationDate}">publicationDate Error</td>
        </tr>
        <tr>
            <td>Price:</td>

            <td><input type="number" th:field="*{price}" /></td>

            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>